# Build output
build/

# OVMF firmware binaries (téléchargés séparément, voir tools/ovmf/README.md)
tools/ovmf/*.fd

# Compiled binaries
*.efi
*.o
*.elf
*.img

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
